<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Component Id="PowerShellModuleComponent" Guid="d65de5fc-c6f6-4969-a341-860704429ebe" Directory="PowerShellModuleFolder">
      <File Id="PowerDelivery.psm1" Source="..\..\PowerDelivery\PowerDelivery.psm1" Name="PowerDelivery.psm1" KeyPath="yes" />
      <File Id="Add_CommandCredSSP.ps1" Source="..\..\PowerDelivery\Add-CommandCredSSP.ps1" Name="Add-CommandCredSSP.ps1" />
      <File Id="Add_CredSSPTrustedHost.ps1" Source="..\..\PowerDelivery\Add-CredSSPTrustedHost.ps1" Name="Add-CredSSPTrustedHost.ps1" />
      <File Id="Add_ExamplePipeline.ps1" Source="..\..\PowerDelivery\Add-ExamplePipeline.ps1" Name="Add-ExamplePipeine.ps1" />
      <File Id="Add_RemoteCredSSPTrustedHost.ps1" Source="..\..\PowerDelivery\Add-RemoteCredSSPTrustedHost.ps1" Name="Add-RemoteCredSSPTrustedHost.ps1" />
      <File Id="Add_WindowsUserToGroup.ps1" Source="..\..\PowerDelivery\Add-WindowsUserToGroup.ps1" Name="Add-WindowsUserToGroup.ps1" />
      <File Id="Backup_MasterDataServices.ps1" Source="..\..\PowerDelivery\Backup-MasterDataServices.ps1" Name="Backup-MasterDataServices.ps1" />
      <File Id="Copy_Robust.ps1" Source="..\..\PowerDelivery\Copy-Robust.ps1" Name="Copy-Robust.ps1" />
      <File Id="Deploy_BuildAssets.ps1" Source="..\..\PowerDelivery\Deploy-BuildAssets.ps1" Name="Deploy-BuildAssets.ps1" />
      <File Id="Disable_SqlJobs.ps1" Source="..\..\PowerDelivery\Disable-SqlJobs.ps1" Name="Disable-SqlJobs.ps1" />
      <File Id="Enable_SqlJobs.ps1" Source="..\..\PowerDelivery\Enable-SqlJobs.ps1" Name="Enable-SqlJobs.ps1" />
      <File Id="Enable_WebDeploy.ps1" Source="..\..\PowerDelivery\Enable-WebDeploy.ps1" Name="Enable-WebDeploy.ps1" />
      <File Id="Exec.ps1" Source="..\..\PowerDelivery\Exec.ps1" Name="Exec.ps1" />
      <File Id="Export_BuildCredentials.ps1" Source="..\..\PowerDelivery\Export-BuildCredentials.ps1" Name="Export-BuildCredentials.ps1" />
      <File Id="Get_ArrayFromStringOrHash.ps1" Source="..\..\PowerDelivery\Get-ArrayFromStringOrHash.ps1" Name="Get-ArrayFromStringOrHash.ps1" />
      <File Id="Get_BuildAppVersion.ps1" Source="..\..\PowerDelivery\Get-BuildAppVersion.ps1" Name="Get-BuildAppVersion.ps1" />
      <File Id="Get_BuildAssemblyVersion.ps1" Source="..\..\PowerDelivery\Get-BuildAssemblyVersion.ps1" Name="Get-BuildAssemblyVersion.ps1" />
      <File Id="Get_BuildAssets.ps1" Source="..\..\PowerDelivery\Get-BuildAssets.ps1" Name="Get-BuildAssets.ps1" />
      <File Id="Get_BuildChangeSet.ps1" Source="..\..\PowerDelivery\Get-BuildChangeSet.ps1" Name="Get-BuildChangeSet.ps1" />
      <File Id="Get_BuildCollectionUri.ps1" Source="..\..\PowerDelivery\Get-BuildCollectionUri.ps1" Name="Get-BuildCollectionUri.ps1" />
      <File Id="Get_BuildConfig.ps1" Source="..\..\PowerDelivery\Get-BuildConfig.ps1" Name="Get-BuildConfig.ps1" />
      <File Id="Get_BuildCredentials.ps1" Source="..\..\PowerDelivery\Get-BuildCredentials.ps1" Name="Get-BuildCredentials.ps1" />
      <File Id="Get_BuildDropLocation.ps1" Source="..\..\PowerDelivery\Get-BuildDropLocation.ps1" Name="Get-BuildDropLocation.ps1" />
      <File Id="Get_BuildEnvironment.ps1" Source="..\..\PowerDelivery\Get-BuildEnvironment.ps1" Name="Get-BuildEnvironment.ps1" />
      <File Id="Get_BuildName.ps1" Source="..\..\PowerDelivery\Get-BuildName.ps1" Name="Get-BuildName.ps1" />
      <File Id="Get_BuildNumber.ps1" Source="..\..\PowerDelivery\Get-BuildNumber.ps1" Name="Get-BuildNumber.ps1" />
      <File Id="Get_BuildOnServer.ps1" Source="..\..\PowerDelivery\Get-BuildOnServer.ps1" Name="Get-BuildOnServer.ps1" />
      <File Id="Get_BuildRequestedBy.ps1" Source="..\..\PowerDelivery\Get-BuildRequestedBy.ps1" Name="Get-BuildRequestedBy.ps1" />
      <File Id="Get_BuildSetting.ps1" Source="..\..\PowerDelivery\Get-BuildSetting.ps1" Name="Get-BuildSetting.ps1" />
      <File Id="Get_BuildTeamProject.ps1" Source="..\..\PowerDelivery\Get-BuildTeamProject.ps1" Name="Get-BuildTeamProject.ps1" />
      <File Id="Get_BuildUri.ps1" Source="..\..\PowerDelivery\Get-BuildUri.ps1" Name="Get-BuildUri.ps1" />
      <File Id="Get_BuildWorkspaceName.ps1" Source="..\..\PowerDelivery\Get-BuildWorkspaceName.ps1" Name="Get-BuildWorkspaceName.ps1" />
      <File Id="Get_ComputerLocalDeployPath.ps1" Source="..\..\PowerDelivery\Get-ComputerLocalDeployPath.ps1" Name="Get-ComputerLocalDeployPath.ps1" />
      <File Id="Get_ComputerRemoteDeployPath.ps1" Source="..\..\PowerDelivery\Get-ComputerRemoteDeployPath.ps1" Name="Get-ComputerRemoteDeployPath.ps1" />
      <File Id="Import_DeliveryModule.ps1" Source="..\..\PowerDelivery\Import-DeliveryModule.ps1" Name="Import-DeliveryModule.ps1" />
      <File Id="Import_Snapin.ps1" Source="..\..\PowerDelivery\Import-Snapin.ps1" Name="Import-Snapin.ps1" />
      <File Id="Install_NServiceBusService.ps1" Source="..\..\PowerDelivery\Install-NServiceBusService.ps1" Name="Install-NServiceBusService.ps1" />
      <File Id="Invoke_BuildConfigSection.ps1" Source="..\..\PowerDelivery\Invoke-BuildConfigSection.ps1" Name="Invoke-BuildConfigSection.ps1" />
      <File Id="Invoke_BuildConfigSections.ps1" Source="..\..\PowerDelivery\Invoke-BuildConfigSections.ps1" Name="Invoke-BuildConfigSections.ps1" />
      <File Id="Invoke_MSBuild.ps1" Source="..\..\PowerDelivery\Invoke-MSBuild.ps1" Name="Invoke-MSBuild.ps1" />
      <File Id="Invoke_MSTest.ps1" Source="..\..\PowerDelivery\Invoke-MSTest.ps1" Name="Invoke-MSTest.ps1" />
      <File Id="Invoke_Powerdelivery.ps1" Source="..\..\PowerDelivery\Invoke-Powerdelivery.ps1" Name="Invoke-Powerdelivery.ps1" />
      <File Id="Invoke_Roundhouse.ps1" Source="..\..\PowerDelivery\Invoke-Roundhouse.ps1" Name="Invoke-Roundhouse.ps1" />
      <File Id="Invoke_SSISPackage.ps1" Source="..\..\PowerDelivery\Invoke-SSISPackage.ps1" Name="Invoke-SSISPackage.ps1" />
      <File Id="New_RemoteShare.ps1" Source="..\..\PowerDelivery\New-RemoteShare.ps1" Name="New-RemoteShare.ps1" />
      <File Id="New_RemoteTempPath.ps1" Source="..\..\PowerDelivery\New-RemoteTempPath.ps1" Name="New-RemoteTempPath.ps1" />
      <File Id="New_WindowsUserAccount.ps1" Source="..\..\PowerDelivery\New-WindowsUserAccount.ps1" Name="New-WindowsUserAccount.ps1" />
      <File Id="PowerDelivery.psd1" Source="..\..\PowerDelivery\PowerDelivery.psd1" Name="PowerDelivery.psd1" />
      <File Id="Process_SSAS.ps1" Source="..\..\PowerDelivery\Process-SSAS.ps1" Name="Process-SSAS.ps1" />
      <File Id="Publish_BuildAssets.ps1" Source="..\..\PowerDelivery\Publish-BuildAssets.ps1" Name="Publish-BuildAssets.ps1" />
      <File Id="Publish_LeapFrogBI.ps1" Source="..\..\PowerDelivery\Publish-LeapFrogBI.ps1" Name="Publish-LeapFrogBI.ps1" />
      <File Id="Publish_MasterDataServices.ps1" Source="..\..\PowerDelivery\Publish-MasterDataServices.ps1" Name="Publish-MasterDataServices.ps1" />
      <File Id="Publish_SSAS.ps1" Source="..\..\PowerDelivery\Publish-SSAS.ps1" Name="Publish-SSAS.ps1" />
      <File Id="Publish_WebDeploy.ps1" Source="..\..\PowerDelivery\Publish-WebDeploy.ps1" Name="Publish-WebDeploy.ps1" />
      <File Id="Register_DeliveryModuleHook.ps1" Source="..\..\PowerDelivery\Register-DeliveryModuleHook.ps1" Name="Register-DeliveryModuleHook.ps1" />
      <File Id="Remove_Pipeline.ps1" Source="..\..\PowerDelivery\Remove-Pipeline.ps1" Name="Remove-Pipeline.ps1" />
      <File Id="Set_AppPoolIdentity.ps1" Source="..\..\PowerDelivery\Set-AppPoolIdentity.ps1" Name="Set-AppPoolIdentity.ps1" />
      <File Id="Set_EnvironmentVariable.ps1" Source="..\..\PowerDelivery\Set-EnvironmentVariable.ps1" Name="Set-EnvironmentVariable.ps1" />
      <File Id="Start_SqlJobs.ps1" Source="..\..\PowerDelivery\Start-SqlJobs.ps1" Name="Start-SqlJobs.ps1" />
      <File Id="Uninstall_NServiceBusService.ps1" Source="..\..\PowerDelivery\Uninstall-NServiceBusService.ps1" Name="Uninstall-NServiceBusService.ps1" />
      <File Id="Update_AssemblyInfoFiles.ps1" Source="..\..\PowerDelivery\Update-AssemblyInfoFiles.ps1" Name="Update-AssemblyInfoFiles.ps1" />
      <File Id="Update_XmlFile.ps1" Source="..\..\PowerDelivery\Update-XmlFile.ps1" Name="Update-XmlFile.ps1" />
      <File Id="Wait_ForLeapFrogBI.ps1" Source="..\..\PowerDelivery\Wait-ForLeapFrogBI.ps1" Name="Wait-ForLeapFrogBI.ps1" />
      <File Id="Write_BuildSummaryMessage.ps1" Source="..\..\PowerDelivery\Write-BuildSummaryMessage.ps1" Name="Write-BuildSummaryMessage.ps1" />
      <Environment Id="PowerShellModuleEnvPath" Action="set" Part="last" Name="PSMODULEPATH" Permanent="no" System="yes" Value="[PowerShellFolder]" />
    </Component>

    <Component Id="BuildProcessTemplatesComponent" Guid="7097FD47-072E-442F-B11E-35260E3AEB47" Directory="BuildProcessTemplatesFolder">
      <File Id="PowerDeliveryTemplate.xaml" Source="..\..\PowerDelivery\BuildProcessTemplates\PowerDeliveryTemplate.xaml" Name="PowerDeliveryTemplate.xaml" KeyPath="yes" />
      <File Id="PowerDeliveryTemplate.11.xaml" Source="..\..\PowerDelivery\BuildProcessTemplates\PowerDeliveryTemplate.11.xaml" Name="PowerDeliveryTemplate.11.xaml" />
      <File Id="PowerDeliveryChgSetTpl.xaml" Source="..\..\PowerDelivery\BuildProcessTemplates\PowerDeliveryChangeSetTemplate.xaml" Name="PowerDeliveryChangeSetTemplate.xaml" />
      <File Id="PowerDeliveryChgSetTpl.11.xaml" Source="..\..\PowerDelivery\BuildProcessTemplates\PowerDeliveryChangeSetTemplate.11.xaml" Name="PowerDeliveryChangeSetTemplate.11.xaml" />
    </Component>

    <Component Id="PowerYamlComponent" Guid="752527C2-0802-4568-A05E-2928DF4A9171" Directory="PowerYamlFolder">
      <File Id="PowerYamlLICENSE" Source="..\..\PowerYaml\LICENSE" Name="LICENSE" KeyPath="yes" />
    </Component>

    <Component Id="PowerYamlFunctionsComponent" Guid="B03FE43C-A5E3-4A1F-8F4A-4AA633601B35" Directory="PowerYamlFunctionsFolder">
      <File Id="PowerYamlCasting.ps1" Source="..\..\PowerYaml\Functions\Casting.ps1" Name="Casting.ps1" KeyPath="yes" />
      <File Id="PowerYamlShadowCopy.ps1" Source="..\..\PowerYaml\Functions\Shadow-Copy.ps1" Name="Shadow-Copy.ps1" />
      <File Id="PowerYamlValidFuncs.ps1" Source="..\..\PowerYaml\Functions\Validator-Functions.ps1" Name="Validator-Functions.ps1" />
      <File Id="PowerYamlIntegration.ps1" Source="..\..\PowerYaml\Functions\YamlDotNet-Integration.ps1" Name="YamlDotNet-Integration.ps1" />
    </Component>

    <Component Id="PowerYamlLibsComponent" Guid="86BBCF9F-C00B-4739-9153-715EEB49F2CA" Directory="PowerYamlLibsFolder">
      <File Id="YamlDotNet.Configuration.dll" Source="..\..\PowerYaml\Libs\YamlDotNet.Configuration.dll" Name="YamlDotNet.Configuration.dll" KeyPath="yes" />
      <File Id="YamlDotNet.Converters.dll" Source="..\..\PowerYaml\Libs\YamlDotNet.Converters.dll" Name="YamlDotNet.Converters.dll" />
      <File Id="YamlDotNet.Core.dll" Source="..\..\PowerYaml\Libs\YamlDotNet.Core.dll" Name="YamlDotNet.Core.dll" />
      <File Id="YamlDotNet.RepModel.dll" Source="..\..\PowerYaml\Libs\YamlDotNet.RepresentationModel.dll" Name="YamlDotNet.RepresentationModel.dll" />
    </Component>

    <Component Id="BlankTmplComponent" Guid="FE7D3072-513F-4717-AB91-98411570F6F7" Directory="BlankTmplFolder">
      <File Id="BlnkTmplBldScript" Source="..\..\PowerDelivery\Templates\Blank\Build.ps1" Name="Build.ps1" KeyPath="yes" />
      <File Id="BlnkTmplCapcityTestCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildCapacityTest.yml" Name="BuildCapacityTest.yml" />
      <File Id="BlnkTmplCommitCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildCommit.yml" Name="BuildCommit.yml" />
      <File Id="BlnkTmplLocalCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildLocal.yml" Name="BuildLocal.yml" />
      <File Id="BlnkTmplProductionCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildProduction.yml" Name="BuildProduction.yml" />
      <File Id="BlnkTmplTestCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildTest.yml" Name="BuildTest.yml" />
      <File Id="BlnkTmplSharedCfg" Source="..\..\PowerDelivery\Templates\Blank\BuildShared.yml" Name="BuildShared.yml" />
    </Component>
    
    <Component Id="WebWithDBTmplComponent" Guid="81F8C09E-4747-4553-BC4E-E7E97C6C5E53" Directory="WebWithDBTmplFolder">
      <File Id="WebWithDBBldScript" Source="..\..\PowerDelivery\Templates\Website with Database\Build.ps1" Name="Build.ps1" KeyPath="yes" />
      <File Id="WebWithDBCapcityTestCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildCapacityTest.yml" Name="BuildCapacityTest.yml" />
      <File Id="WebWithDBCommitCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildCommit.yml" Name="BuildCommit.yml" />
      <File Id="WebWithDBLocalCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildLocal.yml" Name="BuildLocal.yml" />
      <File Id="WebWithDBProductionCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildProduction.yml" Name="BuildProduction.yml" />
      <File Id="WebWithDBTestCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildTest.yml" Name="BuildTest.yml" />
      <File Id="WebWithDBSharedCfg" Source="..\..\PowerDelivery\Templates\Website with Database\BuildShared.yml" Name="BuildShared.yml" />
    </Component>
      
    <ComponentGroup Id="PowerShellModuleComponentGroup">
      <ComponentRef Id="PowerShellModuleComponent" />
      <ComponentRef Id="BuildProcessTemplatesComponent" />
    </ComponentGroup>

    <ComponentGroup Id="PowerYamlComponentGroup">
      <ComponentRef Id="PowerYamlComponent" />
      <ComponentRef Id="PowerYamlFunctionsComponent" />
      <ComponentRef Id="PowerYamlLibsComponent" />
    </ComponentGroup>
    
    <ComponentGroup Id="TemplatesComponentGroup">
      <ComponentRef Id="BlankTmplComponent" />
      <ComponentRef Id="WebWithDBTmplComponent" />
    </ComponentGroup>

    <Feature Id="PowerShellModuleFeature" Title="Windows PowerShell Module" Level="1" Description="Windows PowerShell Module for Powerdelivery." InstallDefault="followParent">
      <ComponentGroupRef Id="PowerShellModuleComponentGroup" />
      <ComponentGroupRef Id="PowerYamlComponentGroup" />
      <ComponentGroupRef Id="TemplatesComponentGroup" />
    </Feature>

    <InstallExecuteSequence>
      <RemoveEnvironmentStrings Sequence="3550" />
      <WriteEnvironmentStrings Sequence="4050" />
    </InstallExecuteSequence>
    
	</Fragment>
</Wix>