body {
	font-size: 16px;
	line-height: 26px;
	background-color: #ffffff;
}

.container .col-sm-3 .nav.nav-stacked {
	position: fixed;
	left: 18%;
	bottom: 0;
	width: 15%;
	z-index: 1020;
	top: 52px;
	margin-bottom: 10px;
	overflow-y: auto;
}

.navbar.navbar-inverse.navbar-fixed-top {
	background-color: #c41230;
	border-bottom: 1px solid transparent;
}

.navbar-inverse .btn-navbar {
	background: #c41230;
}

.navbar-inverse .navbar-brand {
	color: #eee;
	font-size: 22px;
}

.navbar-inverse .navbar-toggle {
	border: 1px solid transparent;
}

.navbar-inverse ul.nav.navbar-nav li a, 
.navbar-inverse ul.nav.navbar-nav li a:link, 
.navbar-inverse ul.nav.navbar-nav li a:hover {
	color: #eee;
} 

.navbar-inverse ul.nav.navbar-nav li.active a, 
.navbar-inverse ul.nav.navbar-nav li.active a:link, 
.navbar-inverse ul.nav.navbar-nav li.active a:hover {
	color: #fff;
	font-weight: bold;
} 

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:link {
	background: #B62027;
}

.narvbar-fixed-top .nav li a {
	background: transparent;
	color: #fefefe;
}

.narvbar-fixed-top .nav li a:hover {
	background: #c41230;
	color: #fefefe;
}

.narvbar-fixed-top .nav li.active a {
	background: #c41230;
}

.navbar-fixed-top .navbar-inner .container .nav-collapse .navbar-text {
	color: #ffffff;
}

.navbar-fixed-top .navbar-inner .container .nav-collapse a,
.navbar-fixed-top .navbar-inner .container .nav-collapse a:link,
.navbar-fixed-top .navbar-inner .container .nav-collapse a:visited {
	color: #ffffff;
}

.col-sm-3 .nav li a {
	margin-left: 10px;
}

.col-sm-3 .nav li.nav-header a {
	margin-left: 0px;
	font-weight: bold;
}

.feature-overview h2 {
	margin-top: 0px;
	font-size: 25px;
	font-weight: normal;
	color: #555;
}

.feature-overview p {
	margin-top: 10px;
	margin-bottom: 15px;
}

#feature-highlight h2 {
	font-weight: normal;
}

#feature-highlight .span4 {
	text-align: center;
}

code {
	padding-top: 5px;
	padding-bottom: 5px;
}

.col-sm-9 hr {
	margin-top: 30px;
}

.featurette-image {
	width: 80%;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (max-width: 979px) {
  .carousel .item {
	height: 500px;
  }
  .carousel img {
	width: auto;
	height: 500px;
  }
  .featurette {
	height: auto;
	padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
	display: block;
	float: none;
	max-width: 40%;
	margin: 0 auto 20px;
  }
}

@media (max-width: 767px) {
  .carousel {
	margin-left: -20px;
	margin-right: -20px;
  }
  .carousel .container {
  }
  .carousel .item {
	height: 300px;
  }
  .carousel img {
	height: 300px;
  }
  .carousel-caption {
	width: 65%;
	padding: 0 70px;
	margin-top: 100px;
  }
  .carousel-caption h1 {
	font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
	font-size: 18px;
  }
  .marketing .span4 + .span4 {
	margin-top: 40px;
  }
  .featurette-heading {
	font-size: 30px;
  }
  .featurette .lead {
	font-size: 18px;
	line-height: 1.5;
  }
}