body {
	font-size: 16px;
	line-height: 26px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

a, a:visited {
	color: #66B7FF;
}

#corner-cloud {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 0;
}

#corner-cloud-text {
	position: absolute;
	text-align: center;
	color: #fff;
	top: 20px;
	right: 30px;
	font-size: 18px; 
	z-index: 1
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 46px;
	border-bottom: 1px solid #F2C811;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.directory-tree {
	font-size: 15px;
}

.highlight {
	margin-top: 20px;
	margin-bottom: 20px;
}

.highlight pre {
	background-color: #333;
	color: #eee;
	font-size: 17px;
	padding: 15px;
}

.highlight .err {
	color: #eee;
	background-color: transparent;
}

.console .highlight pre {
	background-color: #012456;
}

.console .highlight .err {
	color: #eee;
	background-color: transparent;
}

.console .highlight .s1 {
	color: #ccc;
}

.console .highlight .nb {
	color: #F2C811;
}

#sidebar {
	color: #eee;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 350px;
	bottom: 0px;
	background-color: #3a3a3a;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

#sidebar a {
	color: #F2C811;
}

#sidebar ul {
	margin-left: 0px;
	padding-left: 0px;
}

#sidebar ul li {
	list-style-type: none;
	text-transform: uppercase;
	margin-left: 0px;
	padding-left: 0px;
}

#main {
	background-color: #fff;
	padding: 25px;
	position: absolute;
	top: 0px;
	left: 350px;
	right: 0px;
	height: auto;
}

#main h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.thumbnail {
	background-color: #444;
	border-color: #444;
}

#new-version {
	padding: 5px;
	background-color: #F2C811;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #333;
}

#toc {
	float: right;
	background-color: #f3f3f3;
	padding-left: 20px;
	border: 0px;
}

#toc tbody tr td {
	background-color: transparent;
}

#toc ul li.toclevel-1.tocsection-1 {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#toctitle {
	background-color: #444;
	padding: 10px;
	color: #eee;
}

#toc ul {
	background-color: #f3f3f3;
}
