body {
	font-size: 16px;
	line-height: 26px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

a, a:visited {
	color: #66B7FF;
}

#corner-cloud {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 0;
}

#corner-cloud-text {
	position: absolute;
	text-align: center;
	color: #fff;
	top: 20px;
	right: 30px;
	font-size: 18px; 
	z-index: 1
}

@media(max-width: 768px) {
	#corner-cloud, #corner-cloud-text {
		display: none;
	}
}

#footer-logo {
	text-align: right; 
	padding-top: 15px; 
	padding-bottom: 20px;
	font-size: 24px
}

.filename {
	font-size: 15px;
	text-align: center;
	margin-top: -14px;
	padding-top: 0px;
	margin-bottom: 20px;
}

#footer-logo img {
	margin-right: 5px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	border-bottom: 1px solid #F2C811;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.directory-tree {
	font-size: 15px;
}

pre {
	font-size: 16px;
}

.highlight {
	margin-top: 0px;
	margin-bottom: 20px;
}

.highlight pre {
	background-color: #333;
	color: #eee;
	font-size: 16px;
	padding: 15px;
}

@media(max-width: 768px) {
	.highlight pre {
		font-size: 10px;
	}
}

.highlight .c {
	color: #B3B3A6;
}

.highlight .err {
	color: #eee;
	background-color: transparent;
}

.highlight .no, .highlight .nv {
	color: #81C0C0;
}

.highlight .nb {
	color: #57AFCD;
}

.highlight .s1, .highlight .s2 {
	color: #F2C811;
}

.console-title {
	background-color: #fefefe;
	font-size: 13px;
	padding-left: 10px;
	border-top: 1px solid darkorange;
	border-left: 1px solid darkorange;
	border-right: 1px solid darkorange;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.console-title img {
	padding-right: 5px;
	padding-top: 4px;
}

.console {
	border-left: 1px solid darkorange;
	border-right: 1px solid darkorange;
	border-bottom: 1px solid darkorange;
	padding-bottom: 0px;
	margin-bottom: 20px;
}

.console .highlight {
	 margin-bottom: 0px;
}

.console .highlight pre {
	background-color: #012456;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}

.console .highlight .err {
	color: #eee;
	background-color: transparent;
}
.console .highlight .nb {
	color: #F2C811;
}

#sidebar {
	color: #eee;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 300px;
	bottom: 0px;
	background-color: #3a3a3a;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

@media(max-width: 900px) {
	#sidebar {
		width: 240px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media(max-width: 768px) {
	#sidebar {
		position: static;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
		width: auto;
		padding-bottom: 10px;
	}
}

#sidebar a {
	color: #F2C811;
}

#sidebar ul {
	margin-left: 0px;
	padding-left: 0px;
}

#sidebar ul li {
	list-style-type: none;
	text-transform: lowercase;
	margin-left: 0px;
	padding-left: 0px;
}

.sidebar-sep {
	border-top: 1px solid #444;
}

#site-title {
	text-align: center;
	border-bottom: 0px; 
	font-size: 55px
}

#site-summary {
	font-size: 20px; 
	line-height: 1.8
}

#main {
	background-color: #fff;
	padding: 25px;
	position: absolute;
	top: 0px;
	left: 300px;
	right: 0px;
	height: auto;
}

@media(max-width: 900px) {
	#main {
		left: 240px;
	}
}

@media(max-width: 768px) {
	#main {
		position: static;
		left: auto;
		top: auto;
		right: auto;
		bottom: auto;
	}
}

#main h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.thumbnail {
	background-color: #444;
	border-color: #444;
}

#new-version {
	padding: 5px;
	background-color: #F2C811;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #333;
}

#toc {
	float: right;
	margin-left: 10px;
	background-color: #f3f3f3;
	padding-left: 20px;
	border: 0px;
}

@media(max-width: 768px) {
	#toc {
		margin-left: 0px;
	}
}

#toc tbody tr td {
	background-color: transparent;
}

@media(max-width: 768px) {
	#toc {
		margin-bottom: 20px;
	}
}

#toc ul li.toclevel-1.tocsection-1 {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#toctitle {
	background-color: #444;
	padding: 10px;
	color: #eee;
}

#toc ul {
	background-color: #f3f3f3;
}

dl dd {
	margin-left: 20px;
}

.ref-item {
	font-size: 26px;
	font-weight: bold;
}

.ref-upper {
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold
}

.panel.panel-default .panel-heading {
	background-color: #666;
	color: #fff;
	border-bottom: 1px solid #F2C811;
}

.panel.panel-default .panel-body {
	background-color: #444;
	color: #eee;
}

.panel.panel-default .panel-body b {
	margin-bottom: 7px;
	margin-top: 7px;
}

.panel.panel-default .panel-body ul li a {
	color: #F2C811;
}

.panel.panel-default .panel-body ul li a:hover {
	background-color: #333;
	color: #F2C811;
}

#features {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	color: green;
	text-transform: uppercase;
}