<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PowerDelivery.Controls" PublicKeyToken="null" />
        <codeBase href="FILE://C:/Program Files/PowerDelivery/PowerDelivery.Controls.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>