<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="ECF4FF23-D617-4FD8-976C-682C7D13C1E1" Name="PowerDelivery" Language="1033" Version="1.0.0.0" Manufacturer="Jayme C Edwards" UpgradeCode="3673260d-627b-4794-8a86-723c8608c79c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Continuous Delivery with Windows PowerShell" Comments="PowerDelivery is released under the MIT license." Manufacturer="Jayme C Edwards" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>
		<MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="..\..\License.rtf" />
		<Feature Id="ProductFeature" Title="Powerdelivery" Level="1" Description="Continuous Delivery with Windows PowerShell" Display="expand" InstallDefault="local" Absent="disallow">
      <ComponentGroupRef Id="ProductComponentGroup" />
      <FeatureRef Id="PowerShellModuleFeature" />
		</Feature>
	</Product>
</Wix>