<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>powerdelivery - Continuous Delivery with PowerShell and Team Foundation Server</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Continuous Delivery with PowerShell and Team Foundation Server">
    <meta name="author" content="Jayme C Edwards">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      @media (max-width: 980px) {
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="stylesheets/pygment_trac.css" rel="stylesheet">
	  <link href="stylesheets/site.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">power<b>delivery</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="use.html">Use</a></li>
            <li><a href="setup.html">Setup</a></li>
            <li><a href="create.html">Create</a></li>
            <li><a href="reference.html">Reference</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
		    {{ content }}
      </div>
      <hr>
      <footer>
        <p align="center">
          <small>powerdelivery is released under the <a href="http://www.opensource.org/licenses/MIT">MIT license</a>.</small>
        </p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/site.js"></script>
  </body>
</html>